

.breakingNews {
    /* background-color: var(--advertise-color); */
    /* color: white; */
    height: 30px;
    margin: 0 10px;
    padding: 10px 0;
    /* text-align: center;
    font-weight: 500;
    font-size: 16px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breakingNews .newsHeader {
    height: 100%;
    background-color: var(--advertise-color);
    color: #fff;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.breakingNews .newsLine {
    height: 100%;
    padding: 4px 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    border: 1px solid var(--header-body-color);
}

.breakingNews .news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breakingNews .news .newsTitle {
    /* background-color: green; */
    border-radius: 5px;
    padding: 5px;
    color: wheat;
    font-weight: 500;
    font-size: 16px;
}

.breakingNews .arrow  ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5px;
}

.breakingNews .arrow ul li button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--header-body-color);
}

.breakingNews .arrow ul li a {
    color: var(--header-body-color);
}