.coverSection {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: auto auto;
  gap: 10px;
  /* margin-bottom: 20px; */
}

.coverSectionLeft {
  grid-row: 1 / 2;
  max-height: 50vh;
}

.coverSectionRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-height: 50vh;
}

.coverSectionBottom {
  grid-column: 1 / 3;
  display: flex;
  overflow-x: auto;
  gap: 10px;

  padding: 5px;
  background-color: rgb(172, 176, 180);
  border-radius: 5px;
}

.featureCard,
.gridCard,
.bottomCard {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.featureCard {
  height: 50vh;
}

.featureCard img,
.gridCard img {
  width: 100%;
  height: 100%;
  display: block;
}

.bottomCard {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* align-items: center; */
  gap: 5px;
  max-height: 15vh;
}

.bottomCard img {
  height: 13vh;
  width: 50%;
  border-radius: 5px;
}

.bottomCard .cardInfo {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: white;
  padding: 15px;
  width: 100%;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.tag {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

.green { background: green; }
.red { background: red; }
.orange { background: orange; }
.pink { background: deeppink; }
.yellow { background: goldenrod; }
.blue { background: royalblue; }

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
}
  
.meta {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  opacity: 0.8;
}

.metah {
  font-size: 12px;
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  opacity: 0.8;
}

.arrow  ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  /* transform: translate(-50%, -50%); */
}

.arrow ul li button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--header-body-color);
}

.arrow ul li a {
  color: var(--header-body-color);
}