.header {
    display: flex;
    flex-direction: column;
    /* background-color: var(--header-body-color); */
    /* height: 180px; */
}

.headertop {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-body-color);
    font-weight: 500;
    color: #fff;
}

.headertop .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headertop .addiconsection ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

.headertop .addiconsection ul li {
    cursor: pointer;
}

.headertop .addiconsection ul li a {
    color: #fff;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.headerbody .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerbody .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--header-body-color);
}

.headerbody .logo h1 span {
    color: var(--header-body-color);
}

.headerbody .bulletinPoster {
    height: 70px;
    width: 60%;
    border: 2px solid var(--header-body-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--advertise-color);
    color: var(--header-body-color);
}

