.navber {
    /* padding: 5px 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-body-color);
}

.navber ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: flex;
    /* gap: 0 15px; */
}

.navber ul li {
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border-left: 1px solid #fff;
}

.navber ul li a {
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    /* transition: all 1s ease; */
}

.navber ul li i {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
/* Hover effect */
.navber ul li:hover {
    transition: all 1s ease;
    background-color: var(--header-body-hover-color);
}

.navber .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.navber .searchbar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.navber .searchbar input::placeholder {
    color: gray;
    font-weight: 500;
}

.navber .searchbar button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--header-body-hover-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.navber .searchbar i {
    /* font-size: 20px; */
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}