.storyContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 10px;
    /* border-radius: 5px; */
}

.titleLine {
    padding: 10px;
    border: 1px solid var(--header-body-color);
    background-color: #e0e0e0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleLine .title {
    color: var(--header-body-hover-color);
    font-weight: bold;
}

.arrow  ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5px;
}

.arrow ul li button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--header-body-color);
}

.arrow ul li a {
    color: var(--header-body-color);
}

.storyContent {
    display: flex;
    gap: 10px;
}

.storyCard {
    height: 60vh;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.storyCard img{
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    padding: 15px;
    width: 100%;
}

.tags {
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
}

.tag {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

.green { background: green; }
.red { background: red; }
.orange { background: orange; }
.pink { background: deeppink; }
.yellow { background: goldenrod; }
.blue { background: royalblue; }

.title {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
}

.metah {
    font-size: 12px;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    opacity: 0.8;
}

.storySlider {
    transition: transform 0.5s ease-in-out;
}