.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-body-color);
    flex-wrap: wrap;
    padding: 5px 10px;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

.navbar ul li {
    padding: 10px 15px;
    border-left: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
}

.navbar ul li:hover {
    background-color: var(--header-body-hover-color);
    transition: 0.3s ease;
}

.menuItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.searchbar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.searchbar button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--header-body-hover-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

/* Hide the menu and searchbar by default on small screens */
@media (max-width: 768px) {
    .menuItems {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .show {
        display: flex !important;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        width: calc(100% - 30px);
    }

    .navbar ul li {
        width: 100%;
        border-left: none;
        border-top: 1px solid #fff;
    }

    .menuItems {
        margin-left: 15px;
    }
    
    .searchbar {
        width: 100%;
        margin-top: 10px;
    }

    .searchbar input {
        width: 100%;
    }

    .homeIcon {
        border: none !important;
        width: auto;
    }
}
