.explorePage {
    display: flex;
    gap: 5px;
    margin: 10px;
    width: 100%; 
}

.newsSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70vw;
}

.sidebarSection {
    width: 30vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
    .explorePage {
        flex-direction: column;
    }

    .newsSection,.sidebarSection {
        width: 100vw;
        width: calc(100% - 20px);
    }
}