.suggestedNews {
    margin-top: 20px;
}

.suggestedNews__list {
    display: flex;
    /* flex-direction: column; */
    /* gap: 15px; */
}

.suggestedNews__card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.suggestedNews__card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.suggestedNews__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.suggestedNews__title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .suggestedNews__list {
        flex-direction: column;
    }

    .suggestedNews__card {
        height: auto;
    }
}