
.newsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newsItem img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}



.description p {
    font-size: 14px;
    margin: 5px 0;
}

.newsItem .continueBtn {
    width: fit-content;
    background-color: var(--header-body-hover-color);
    color: floralwhite;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 1s ease;
}

.newsItem .continueBtn:hover {
    background-color: var(--header-body-color);
}