.gallaryContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 10px;
    /* width: 70%; */
    /* border-radius: 5px; */
}

.gallaryContent {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 5px;
}

.imageCard {
    display: flex;
    /* flex-direction: column; */
    gap: 5px;

    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.imageCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .gallaryContent {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    
}